<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 24px;
  }
</style>

<div class="message-content">
  <p>Hello {{name}} </p>
  <br>
  <p>We have received a password reset request for your user account.</p>
  <p>If you really requested it, click on the link below to choose a new password:</p>
  <p>
    <a href="{{link}}">Reset my password</a>
  </p>
  <p>If you have not made this request, please discard this email</p>
  <br>
  <p>Thanks</p>
  <p>Team API Sales</p>
</div>